@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,h1,h2,h3,h4,h5,h6,fieldset,input,textarea,figure{
	margin:0;
	padding:0;
	}
a{
	text-decoration: none;
}
body,html{
	width: 100%;
	height: 100%;
	background: #f4f2ee;
}
/*header部分*/
.header{
	width: 100%;
	height: 28px;
	background: #f4f4f4;
}
.header_cen{
	width: 1010px;
	height: 28px;
	margin: 0 auto;
	font-size: 12px;
	/*line-height: 28px;*/
}
.header_left{
	width: 110px;
	height: 28px;
	text-align: center;
	float: left;
	position: relative;
}
.header_left:hover .header_hide{
	display: block;
}
.header_left a {
	line-height: 28px;
}
.header_hide{
	position: absolute;
    display: none;
    border: 1px solid #ccc;
    background-color: #fafafa;
    border-top: 0;
    width: 98px;
    left: 0;
    top: 28px;
    overflow: hidden;
}
.header_hide a{
	display: block;
}
.header_cen a{
	color:#666;
}
#submit{
	line-height: 28px;
	display: inline-block;
	padding-left: 12px;
	height: 28px;
	border-left: 1px solid #cccccc;
	margin: 6px 0 0 7px;
	margin-left: 0;
	float: left;
}
.header .login{
	width: 120px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #ff6600;
	float: left;
}
.login span{
	background: url(../img/reg-reward-icon.png);
	display: inline-block;
    margin: -2px 0 0 2px;
    width: 43px;
    height: 14px;
    vertical-align: middle;
}
.header_right{
	float: right;
	height: 28px;
	line-height: 28px;
	color: #666;
}
.header_right a{
	padding-right: 12px;
	padding-left: 12px;
	border-right: 1px solid #666;
}
.header_right a:last-chils{
	border-right: 0;
}
.phone span{
	/*background: url(../img/);*/
}
.span{
	width: 60px;
	text-align: center;
	float: right;
}

.show{
	display:none;
	width: 168px;
	height: 149px;
}
.span :hover.show{
	display: block;
}
/*banner部分*/
.banner{
	width: 100%;
	height: 89px;
	background: #fff;
}
.banner_cen{
	width: 1010px;
	margin: 0 auto;
	line-height: 89px;
}
.banner_cen a{
	display: inline-block;
	width: 226px;
	height: 69px;
}
.banner_cen a img{
	width: 226px;
	height: 69px;
}
.image{
	width: 353px;
	height: 30px;
	float: right;
	margin-top: 30px;
}
/*导航栏*/
.main{
	width: 100%;
	height: 40px;
	background: #ff6600;
}
.main_cen{
	width: 1010px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	position: relative;
}
.main_cen li{
	list-style: none;
	display: inline-block;
}
.main_cen li:hover{
	background: #dd4400;
}
.main_cen li:first-child{
	background: #dd4400;
}
.main_cen li a{
	padding: 0 16px;
	height: 40px;
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
}
.main_right{
	position: absolute;
	top: 0;
	right: 0;
}
.main_right:hover{
	background: #dd4400;
}
.main_right a{
	padding: 0 16px;
	color: #ffffff;
	font-size: 14px;
}
/*登录*/
.container{
	width: 1010px;
    padding: 0;
    margin:20px auto;
    background:#fff;
    box-shadow: 0 1px 3px #E1E1E1;
}
.main_min{
	margin-bottom: 10px;
    min-height: 350px;
    height: 350px;
    height: auto !important;
    overflow: visible;
}
.main_left{
	float: left;
	padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 80px;
    width: 510px;
}
.main_left h2{
	font-size: 16px;
    font-weight: 700;
    margin: 0 0 40px;
}
.main_left div{
	min-height: 32px;
    height: 32px;
    height: auto !important;
    line-height: 32px;
    color: #666;
    margin: 18px 0;
}
.main_left div input{
	border: 1px solid #ddd;
    height: 22px;
    line-height: 22px;
    margin: 0;
    margin-right: 3px;
    padding: 3px;
    vertical-align: middle;
    border-radius: 2px 2px;
    width: 220px;
}
.safe{
	padding-left: 70px;
}
.main_left .safe input{
	width: 20px;
}
.submit button{
	border: medium none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 37px;
    line-height: 36px;
    padding-bottom: 2px;
    margin-right: 20px;
    text-align: center;
    width: 103px;
    background: url(http://s0.husor.cn/image/icons/orange_btns.png) no-repeat scroll 0 0 transparent;
    display: inline-block;
    color: #fff;
    text-shadow: 1px 1px 1px #f30;
}
/*右边部分*/
.main_Right{
	float: left;
	padding-top: 15px;
    height: 335px;
    background: url(http://s0.husor.cn/image/tj_split.png) no-repeat scroll 15px 35px #fff;
	width: 230px;
    padding-left: 70px;
}
.click{
	width: 100px;
	height: 30px;
	border-radius: 10px;
	background: -webkit-gradient(linear,left top,left bottom,from(#7DB72F),to(#4E7D0E));
    background: -moz-linear-gradient(top,#7DB72F,#4E7D0E);
    background: -o-linear-gradient(top,#7DB72F,#4E7D0E);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7DB72F',endColorstr='#4E7D0E');
    border: 1px solid #538312;
}
.main_Right p{
	margin-bottom: 6px;
}
.open_login{
	margin-top: 50px;
}
.open_login p{
	color: #666;
}
.open_login ul{
	list-style:none;
	margin: 15px 55px 0 55px;
    text-align: left;
}
.open-login ul li {
    margin: 5px 0;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    -moz-transition: border .2s linear 0,-moz-box-shadow .2s linear 0;
    cursor: pointer;
}
.open-login ul li a {
    color: #666;
    text-decoration: none;
    height: 24px;
    display: inline-block;
    padding: 0 8px;
    background-image: url();
}